*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    overflow-y: scroll;
}

body::-webkit-scrollbar{
    display: none;
}
a{
    text-decoration: none;
}
/*------------------------navigation------------------------------*/
.heading{
    flex-direction: row;
}
.social-media{
    flex-direction: row;
}
.social-icon{
    width: 25px;
    height: 25px;
    margin-left: 1rem;
}
.right a{
    text-decoration: none;
    color: #fff;
    padding-right: 1rem; 
}

.right a:hover{
    color: #fff;
    font-weight: 600;
}
.row{
    margin-left: 0px !important;
    margin-right: 0px !important;
}
.navbar{
    box-shadow: 0 5px 5px -5px rgb(82, 78, 78);
}
.navbar-nav{
    width: 100%;
    flex-direction: row;
    justify-content: center;
  }
  .nav-link{
    text-transform: capitalize;
    color: #383838;
    opacity: 0.8;
    margin: 0.5rem;
  }
  .nav-link.active{
    color: rgb(2, 2, 63)!important;
    font-weight: 600;
  }
  .nav-link:hover{
    opacity: 1;
    color: #292424;
    font-weight: 600;
    transition: 0.5s;
  }
/*--------------------------end navigation--------------------------*/
.cover-image{
position: relative;
height:auto;
}
.cover-image-img{
    width: 100%;
    height: 500px;
}
.web-name{
    position: absolute;
    top: 50%;
}

.box{
    height: 350px;
    box-shadow: 5px 5px 5px 5px rgb(82, 78, 78);
    overflow-y: hidden;
    
}
.box ul{
    list-style-type: none;
    font-size: 0.8rem;
    line-height: 1.5rem;
}
.about h1{
    font-size: 5rem;
    color: rgba(231, 26, 170, 0.808);
    
}
.h2{
    margin-top: 10px;
    
}

h5{
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.about-text{
    line-height: 1.5rem;
    font-size: 15px;
    font-weight: 500;
    
}
.map{
    height:400px;
}

/*--------------------------------------------carousel estetica---------------------------*/

.carousel-item{
    transition: transform 2s ease-in-out;
}
.img-responsive1{
    width: 420px;
    height: 300px !important;
    margin: 0 auto;
}
/*--------------------------------------------carousel peluqueria---------------------------*/
.img-responsive2{
    width: 100%;
    height: 500px;
    margin: 0 auto;
}
/*-------------------------------footer----------------------------------------------------*/

.social-link {
 color: #fff;
 margin:0.5rem;
}

.social-container a{
 text-decoration: none;
}
.social-link:hover {
    color: #fff;
   font-weight: 600;
   }
.category li{
    list-style-type: none;
}   
.category a{
    text-decoration: none;
}

.logo-bottom{
    width: 200px;
    height: 150px;
}
.footer-credit a{
    text-decoration: none;
}
 /*---------------------------media query--------------------*/  
@media(min-width:1200px){
 .img-responsive2{
    width: 80%;
    height: 600px;
    margin: 0 auto;
}
}
 @media(max-width:1200px){
    .img-responsive1{
     width: 260px;
     height: 200px;
 }  
    
}

@media(max-width:768px){
    .boxes{
    flex-direction: column;
    }
    .box{
        margin-bottom: 1.5rem;
        
    }
    .carousel-item{
        flex-direction: column;   
    }
    .img-responsive1{
        width: 100%;
        height: 300px;
        margin-bottom: 0.5rem;
    }
    .carousel-control-prev-icon1{
        display: none;
      }
    .carousel-control-next-icon1{
        display: none;
      }
}

 @media(max-width:550px){
    .navbar-brand-img{
        width: 50px;
        height: auto;
    }
    .cover-image img{
        width: 100%;
        height: 300px;
    }
 .heading{
     display: flex;
     flex-direction: column;
     align-items: center;
 }
 .products-row{
     flex-direction: column;
 }
.about h1{
    font-size: 2rem;
    color: rgb(233, 110, 196);
}
.logo-bottom{
    width: 70px;
    height:70px;
}
}






 